@model EmployeeViewModel

<script type="text/javascript">
    $(document).ready(function () {

        $("#SelectedEmployeeId").on("change", function () {
            var empId = $(this).val();
            var empName = $("#SelectedEmployeeId option:selected").text();
            var monYear = $("#SelectedMonthYear").val();
            $("#monthPartialView").load("/WorkingTime/EmployeeMonthsWorked",
                { employeeId: empId });
            if (empId != "") {
                $("#empIdLabel").text('Employee ID: ' + empId);
                $("#empNameLabel").text(empName);
            } else {
                $("#empIdLabel").text('');
                $("#empNameLabel").text('');
                $("#shiftPartialView").empty();
            }
            $("#shiftPartialView").empty();
        });
    });
</script>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Employee Info</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <div>
                    @Html.LabelFor(m => m.SelectedEmployeeId, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.SelectedEmployeeId, Model.EmployeeSelectList, "Select Employee", new { @class = "form-control" })
                </div>
                <div id="monthPartialView"></div>
            </div>
            <div class="col-md-6" id="selectedEmployeeInfo">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 id="empNameLabel" name="empNameLabel"></h3>
                        <p id="empIdLabel" name="empIdLabel"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div id="shiftPartialView" class="row">
                </div>
            </div>
    </div>
</div>
